{% extends "layouts/app.html" %}

{% block page_title %}{% if object %}Editar produto{% else %}Novo produto{% endif %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <form method="post" novalidate>
      {% csrf_token %}
      {% include "includes/form.html" with form=form %}
      <div class="mt-4 d-flex gap-2">
        <button class="btn btn-primary" type="submit">Salvar</button>
        <a class="btn btn-light" href="{% url 'inventory:product-list' %}">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
